@media print {
    html {
        font-size: 12pt;
    }

    .no-print {
        display: none !important;
    }

    img {
        vertical-align: middle;
        margin: 5pt;
        zoom: 150%;
        max-height: 40%;
        max-width: 40%;
    }

    .avoid_break .question {
        break-inside: avoid;
      }

      .more_margin .question {
        margin-bottom: 20pt;
      }     

      .more_margin .option {
        margin-top: 10pt;
      }  
            

}