@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 20mm 25mm 20mm 25mm; 
   } 
    html {
        font-size: 12pt;
    }

    .no-print {
        display: none !important;
    }

    img {
        vertical-align: middle;
        margin: 5pt;
        zoom: 150%;
        max-height: 40%;
        max-width: 40%;
    }
    br {
    page-break-after: always;
    }
}
