html {
  font-size: 13pt;
  font-family: "Times New Roman", Times, serif;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  height: 11pt;
}

img {
  vertical-align: middle;
  margin: 5pt;
  zoom: 150%;
  max-height: 40%;
  max-width: 40%;
}

.more_margin .question {
  margin-bottom: 20pt;
}

.more_margin .option {
  margin-top: 10pt;
}


.hidden {
  display: none;
}

.box {
  margin-top: 10pt;
  margin-bottom: 10pt;
}